@using EntityLayer.Concrete
@model List<Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-md-6">
    <div class="p-2">
        <button type="button" id="btngetlistall" class="btn btn-outline-primary">Verileri Getir</button>
        <button type="button" id="btnadd" class="btn btn-outline-info">Kaydet</button>
        <button type="button" id="btnid" class="btn btn-outline-warning">ID ile getir</button>
        <button type="button" id="btndelete" class="btn btn-outline-warning">Sil</button>
        <button type="button" id="btnupdate" class="btn btn-outline-warning">Güncelle</button>

    </div>
</div>

<div class="p-2" id="listexperince">
   
</div>

<br />

<div class="p-2" id="listbyexperince">
</div>

<br />

<div class="col-md-12">
    <h5>Veri Ekleme</h5>
    <input type="text" class="form-control" id="inpname" placeholder="Deneyim Adı" />
    <br />
    <input type="text" class="form-control" id="inpdate" placeholder="Tarih" />
</div>
<br />
<br />
<div class="col-md-12">
    <h5>Id'ye Göre Veri Getirme Paneli'</h5>
    <input type="text" class="form-control" id="inpid" placeholder="ID" />
</div>
<br />
<br />
<div class="col-md-12">
    <h5>Silme Paneli'</h5>
    <input type="text" class="form-control" id="inpexid" placeholder="ID" />

</div>

@section scripts
    {
    <script>
        $("#btngetlistall").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Experience2/ListExperience/",

                succes: function (funk) {
                    let values = jQery.parseJSON(funk);
                    console.log(values);

                    let htmlst ="<table class=table table-bordered> <tr> <th>ID</<th> <th>Başlık</th> <th>Tarih</th></tr>";
                    $.each(values,(index,value)=>{

                        htmlst+=`<tr> <td>${value.ExperienceID}</td> <td>${value.Name}</td> <td>${value.Date}<td> <tr>`;

                    });
                    htmlst+="</table>";
                    $("#listexperince").html(htmlst)
                }
            });
        });


        $("#btnadd").click(function () {

            let values = {
                Name:$("#inpname").val(),
                Date:$("#inpdate").val(),

            };

            $.ajax({
                type:"Post",
                url:"Expereince2/AddExperience/",
                data:values,
                succes:function(funk1){
                    let result = jQuery.parseJSON(funk1);
                    alert("Başarılı bir şekilde eklendi");
                }
            });
        });

        $("#btnid").click(x=>{
            let id = $("#inpid").val();
            $.ajax({
                contentType: "applicatipn/json",
                dataType:"json",
                type:"Get",
                url: "/Experience2/GetById",
                data: {ExperienceID:id},
                succes: function (funk2) {
                    let result = JQuery.parseJSON(funk2);
                    console.log(result);
                    let htmlstr=`<table class=table table-hover><tr> <th>Deneyim ID <th><td>${result.ExperienceID}<td></tr> <tr><th>Deneyim Baslıgı</th> <td>${result.Name}<td><tr></table>`;
                    $("#listbyexperince").html(htmlstr);
                }
            })
           
        });

        $("#btndelete").click(x=>{
            let id = $("#inpexid").val();
            $.ajax({
                url:"Experience/DeleteExperience/"+id,
                type:"post",
                contentType:"application/json",
                dataType:"Jsjson",
                succes:function(funk3){
                    loadData();
                }

            })
        })

    </script>
}

<script src="~/lib/jquery/dist/jquery.js"></script>