@using EntityLayer.Concrete
@model List<Service>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <h4 class="card-title">Hizmetler</h4>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Resim Linki</th>
                            <th>Sil</th>
                            <th>Düzenle</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>

                            <tr>
                                <td>@item.ServiceID</td>
                                <td>@item.Title</td>
                                <td>@item.ImageUrl</td>

                                <td><a href="/Service/DeleteService/@item.ServiceID" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/Service/EditService/@item.ServiceID" class="btn btn-outline-success">Güncelle</a></td>
                            </tr>

                        </tbody>
                    }
                </table>
                <a href="/Service/AddService/" class="btn btn-outline-primary">Hizmet Ekle</a>
            </div>
        </div>
    </div>
</div>
